QFrame  {
    background-color: #e1e1e1;
}

ColumnLabel {
    background-color: #e1e1e1;
    font-family: "Helvetica";
    font-size: 14pt;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #9c9c9c;
    margin-left: 2px;
    padding-left: 10px;
}

QTableWidget {
    background-color: #fafafa;
}

QTableWidget::item {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #b4b4b4;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
}