
MainWindow {
    background-color: #d3d3d5;
}

/*Tool {*/
    /*background-color: #a4a4a4;*/
/*}*/


TableList  {
    background-color: #e0e0e0;
    border-left: none;
    border-right:  none;
    border-bottom:  none;
    border-top: none;
}

Column {
    font-family: "Helvetica Neue";
    border-left: none;
    border-right:  1px solid #8f8f91;
    border-bottom:  none;
    border-top: none;
}

CustomLabel {
    /*font-family: "Helvetica Neue";*/
    /*font-size: 12pt;*/
    /*color: #636363;*/
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

ListView::item {
    /*background-color: qlineargradient(spread:pad, x1:0.499, y1:0, x2:0.511364, y2:1, stop:0 rgba(171, 171, 171, 149), stop:1 rgba(198, 198, 198, 158));*/
    background-color: #d3d3d5;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;

}



ListWidget {

    font-family: "Helvetica Neue";
    font-size: 12pt;
    color: #636363;
    border-left: 1px solid #8f8f91;
    border-right:  none;
    border-bottom:  none;
    border-top: none;

    /*padding-right: 52px;*/


}





ListWidget::item:selected {
    border-left: none;
    border-right:  none;
    border-bottom:  none;
    border-top: none;


}





/*ListWidget::item:hover {*/
    /*background-color: #cbcbcb;*/
    /*color: green;*/
    /*border-left: none;*/
    /*border-right:  none;*/
    /*border-bottom: 1px solid #0e9429;*/
    /*border-top: none;*/
/*}*/

ToolBtn#search {
    image: url(:/resource/icons/forward.png);

    border: none;
    min-width: 22px;
    min-height: 22px;
}

ToolBtn#config {
    image: url(:/resource/icons/config.png);

    border: none;
    min-width: 18px;
    min-height: 18px;
}

ConfigTool {
    background-color: #d6d6d8;
    border-left: 15px solid #c5c5c7;
    border-right:  1px solid #bcbcbe;
    border-bottom:  none;
    border-top: none;
}

QTextEdit {
    border-color: @focused-border-unfocus-color;
    border-style: @focused-border-style;
    border-width: @focused-border-width;
}

QTextEdit {
    font-family: "Helvetica";
    font-size: 14pt;
    font-weight: 300;
    color: #5a5a5a;
    border: 1px solid;
    border-color: #0e84b5;
    border-radius:4px;
    background-color: #f4f4f6;

    max-width: 160px;
    max-height: 26px;

}

ConfigBtn {
    font-family: "Helvetica";
    font-size: 10pt;
    font-weight: 300;
    background-color: #c9c9c9;
    color: #868688;
    border-left: 1px solid #adadaf;
    border-right:  none;
    border-bottom:  1px solid #adadaf;
    border-top: 1px solid #adadaf;
    /*border-radius: 4px;*/
    text-align: left;
    padding-left: 10;
    min-height: 24px;

    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    border-top-right-radius: 0px ;
    border-bottom-right-radius: 0px ;

}

AbcCfgWidget {

}

SearchCfgWidget {
    border-left: 15px solid #0aaf0f;
    border-right:  none;
    border-bottom:  none;
    border-top: none;
}

TableCfgWidget {
    border-left: 15px solid #05afad;
    border-right:  none;
    border-bottom:  none;
    border-top: none;
}

ViewCfgWidget {
    border-left: 15px solid #be5805;
    border-right:  none;
    border-bottom:  none;
    border-top: none;
}

DictCfgWidget {
    border-left: 15px solid #913899;
    border-right:  none;
    border-bottom:  none;
    border-top: none;
}

QSpin{
    border-left: 1px solid #a8a8aa;
    border-right:  1px solid #a8a8aa;
    border-bottom:  1px solid #a8a8aa;
    border-top: 1px solid #a8a8aa;
    max-width: 80px;
    min-width: 80px;
}

Combo{
    border-left: 1px solid #a8a8aa;
    border-right:  1px solid #a8a8aa;
    border-bottom:  1px solid #a8a8aa;
    border-top: 1px solid #a8a8aa;
    max-width: 80px;
    min-width: 80px;
}

ConfigBtn#search_cfg_btn:checked {
    color: #088115;
    border-left: 1px solid #21af1f;
    border-right:  none;
    border-bottom:  1px solid #21af1f;
    border-top: 1px solid #21af1f;
}
ConfigBtn#table_cfg_btn:checked {
    color: #059c9a;
    border-left: 1px solid #059c9a;
    border-right:  none;
    border-bottom:  1px solid #059c9a;
    border-top: 1px solid #059c9a;
}
ConfigBtn#app_cfg_btn:checked {
    color: #be5805;
    border-left: 1px solid #be5805;
    border-right:  none;
    border-bottom:  1px solid #be5805;
    border-top: 1px solid #be5805;
}

ConfigBtn#dict_cfg_btn:checked {
    color: #913899;
    border-left: 1px solid #913899;
    border-right:  none;
    border-bottom:  1px solid #913899;
    border-top: 1px solid #913899;
}

Algorithms {
    font-family: "Helvetica Neue";
    font-size: 12pt;
    color: #636363;
}

CustomButton {

}

/*CustomDictControls{*/
    /*border-left: none;*/
    /*border-right:  none;*/
    /*border-bottom:  none;*/
    /*border-top: none;*/


/*}*/

/*DictCustomBtn {*/
    /*width: 35px;*/
    /*min-height: 22px;*/
    /*font-family: "Helvetica Neue";*/
    /*color: #69696b;*/
    /*font-size: 10pt;*/
    /*border-left: 1px solid #059c9a;*/
    /*border-right:  1px solid #059c9a;*/
    /*border-bottom:  1px solid #059c9a;*/
    /*border-top: 1px solid #059c9a;*/
    /*border-radius: 4px;*/


 /*}*/

/*DictCustomBtn:checked {*/


    /*color: #ce6214;*/
    /*background-color: #e1e1e1;*/
    /*border-left: 2px solid #0ebf06;*/
    /*border-right:  2px solid #0ebf06;*/
    /*border-bottom:  2px solid #0ebf06;*/
    /*border-top: 2px solid #0ebf06;*/
 /*}*/
